__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/
.ruff_cache/

.ipynb_checkpoints/

*.log
*.tmp

dist/
build/
*.egg-info/

data/

Automated-Content-Moderation
test*

*.pkl
*.ini
*.csv

.vscode
promethious.py